{% extends 'base.html' %}

{% block content %}
<nav class="navbar-light bg-light">
    <a class="navbar-brand" href="#">Wishlist</a>
    <a>
    <h5>Nama: </h5>
    <p>{{nama}}</p>
    <button>
        <a href="{% url 'wishlist:logout' %}">Logout</a>
    </button>
    </a>
</nav>


<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
{% endfor %}
</table>
<h5>Sesi terakhir login: {{last_login}}</h5>

{% endblock content %}